---
import Link from '@components/Link.astro'
import Bold from '@components/Bold.astro'

import { mainIntroText } from '@data/index.ts'
---
<p class='mb-4'>
  {mainIntroText.hello}
  <Bold customClass='text-red-400' text='!' /><br />
  {mainIntroText.name}
  <Bold customClass='text-red-400' text=',' />
  {mainIntroText.aheadLiving}
  <Link
    text='Jeju Island'
    link='https://en.wikipedia.org/wiki/Jeju_Island'
    customClass='text-orange-500 duration-200 border-b-4 border-orange-300 hover:text-orange-600 hover:border-orange-500 hover:transition-opacity'
    target='_blank'
    label='seoul'
  />
  {mainIntroText.country}
  <Bold customClass='text-red-400' text='.' /><br />
  {mainIntroText.aheadWorking}
  <Link
    text='Good Nodes Inc.'
    link='https://www.goodnodes.biz'
    customClass='text-orange-500 duration-200 border-b-4 border-orange-300 hover:text-orange-600 hover:border-orange-500 hover:transition-opacity'
    target='_blank'
    label='Good Nodes Inc.'
  />
  <Bold customClass='text-red-400' text=',' />
  {mainIntroText.workingPosition}
  <Bold customClass='text-red-400' text='.' /><br />
</p>