---
import { Image } from 'astro:assets'
import { getCollection, render, type CollectionEntry } from 'astro:content'

import Layout from '../../../layouts/Layout.astro'
import Bold from '../../../components/Bold.astro'
import Card from '../../../components/tech/Card.astro'

import { type Lang, LOCALES } from '../../../i18n'
import { MENU_ITEMS } from '../../../i18n/consts'

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const techPosts = (await getCollection('tech'))
  .filter((tech) => {
    const techLang = tech.id.split('/')[0];
    return tech.data.isDraft && techLang === locale;
  })
  .sort((a, b) => 
    new Date(b.data.publishedDate).valueOf() - 
    new Date(a.data.publishedDate).valueOf()
  );

const getReadingTime = async (tech: CollectionEntry<'tech'>) => {
  const { remarkPluginFrontmatter } = await render(tech)
  return remarkPluginFrontmatter.readMinutes
}

const techPostsWithReadTime = await Promise.all(
  techPosts.map(async (tech: CollectionEntry<'tech'>) => ({
    ...tech,
    readTime: await getReadingTime(tech),
  })),
)
---

<Layout title='Dewdew | Tech' description='Tech of Dewdew'>
  <main class='relative mt-6 flex w-screen flex-col gap-2 px-4 py-2 lg:w-[1000px] lg:px-0'>
    <div class='flex items-center gap-3 border-b border-zinc-700 pb-3'>
      <Image
        class='cursor-pointer rounded-full border-4 border-yellow-400 bg-zinc-600 duration-200 hover:border-orange-600 hover:opacity-90 hover:transition-opacity'
        src='/images/dewdew_world.webp'
        alt='Dewdew world'
        width={100}
        height={100}
        quality={80}
        loading='lazy'
      />
      <div>
        <p class='text-3xl font-bold'>Dewdew</p>
        <p>
          {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].tech.knowledge}
          <Bold customClass='text-red-400' text='.' />
          {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].tech.experience}
          <Bold customClass='text-red-400' text='.' />
          {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].tech.content}
          <Bold customClass='text-red-400' text='!' />
        </p>
        <div class='mt-2 flex items-center gap-3'>
          <span>
            {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].tech.kr}
          </span>
          <div class='h-1 w-1 rounded-full bg-zinc-600' />
          <span>
            <Bold
              customClass='text-red-400'
              text={techPosts.length.toString()}
            />
            {MENU_ITEMS[locale as keyof typeof MENU_ITEMS].tech.posts}
          </span>
        </div>
      </div>
    </div>
    <div class='mt-2 mb-10 flex flex-wrap'>
      {
        techPostsWithReadTime.map((tech) => {
          const [, slug] = tech.id.split("/");
          return (
            <Card
              link={`/${locale}/tech/${slug}`}
              title={tech.data.title}
              description={tech.data.description}
              author={tech.data.author}
              publishedDate={tech.data.publishedDate}
              readTime={tech.readTime}
              avatar={tech.data.avatar}
              avatarAlt={tech.data.avatarAlt}
              cover={tech.data.cover}
              coverAlt={tech.data.coverAlt}
            />
          );
        })
      }
    </div>
  </main>
</Layout>
