---
import Layout from '@layouts/Layout.astro'
import Bold from '@components/Bold.astro'
import List from '@components/uses/List.astro'

import { usesTitle, usesEditor, usesTerminal, usesDesktopApp, usesHardware } from '@data/index'
---
<Layout title='Dewdew | About'>
  <div class='relative mt-8 flex w-screen flex-col items-center justify-between gap-2 px-4 py-2 lg:w-[1000px] lg:px-0'>
    <div class='w-screen px-4 text-lg py-5 text-zinc-700 lg:w-[600px] lg:px-0'>
      <p class="text-3xl font-bold">
        {usesTitle.title}
        <Bold customClass='text-red-400' text=',' /><br />
      </p><br />
      <p class="text-2xl pt-2">
        {usesTitle.editor}
      </p>
      <List lists={usesEditor} />
      <p class="text-2xl pt-8  border-t border-zinc-700">
        {usesTitle.terminal}
      </p>
      <List lists={usesTerminal} />
      <p class="text-2xl pt-8  border-t border-zinc-700">
        {usesTitle.desktopApp}
      </p>
      <List lists={usesDesktopApp} />
      <p class="text-2xl pt-8  border-t border-zinc-700">
        {usesTitle.hardware}
      </p>
      <List lists={usesHardware} />
    </div>
  </div>
</Layout>
