---
import '@styles/index.scss'
import SpeedInsights from '@vercel/speed-insights/astro'

export interface Props {
  title: string
  description: string
  image?: string
}

const {
  title,
  description,
  image = new URL('/images/dewdew_world.webp', Astro.site),
} = Astro.props
---
<title>{title}</title>
<meta charset='UTF-8' />
<meta
  name='viewport'
  content='width=device-width, initial-scale=1.0, viewport-fit=cover'
/>
<meta name='description' content={description} />
<meta name='generator' content={Astro.generator} />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp&display=swap" rel="stylesheet">
<link
  rel='apple-touch-icon'
  sizes='180x180'
  href='/images/apple-touch-icon.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='32x32'
  href='/favicon-32x32.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='16x16'
  href='/favicon-16x16.png'
/>
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel='manifest' href='/site.webmanifest' />
<link rel='mask-icon' href='/images/safari-pinned-tab.svg' color='#5bbad5' />
<link rel='mask-icon' href='/images/safari-pinned-tab.svg' color='#5bbad5' />
<script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9720546940719922" crossorigin="anonymous"></script>

<meta name='keywords' content='Frontend Developer, 프론트앤드, 프론트앤드개발자, 리엑트, 뷰, 스벨트, Vue.js Developer, React Developer, Next.js Developer, Nuxt.js Developer, Astro Developer, JavaScript Developer, TypeScript Developer, Lead Developer, CTO, Technical Lead, Senior Frontend Developer, Full Stack Developer, Web Developer, UI/UX Developer, Vue 3, React 18, Next.js 14, Nuxt 3, Nuxt 4, Astro Framework, JavaScript ES6+, TypeScript, Tailwind CSS, SCSS, CSS3, HTML5, Responsive Design, Progressive Web App, Single Page Application, Component Architecture' />
<meta name='naver-site-verification' content='a5cea0201fbcaeaa4e9069d79c515d887bbcbf87' />
<meta name="google-adsense-account" content="ca-pub-9720546940719922">
<meta name='msapplication-TileColor' content='#da532c' />
<meta name='theme-color' content='#ffffff' />

<meta property='og:type' content='website' />
<meta property='og:site_name' content='Dewdew' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={image} />

<meta name='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={image} />

<SpeedInsights />
