---
import { Image } from 'astro:assets'
import Author from '@components/tech/Author.astro'

interface Props {
  link: string
  title: string
  description: string
  author: string
  publishedDate: Date
  readTime: string
  avatar: string
  avatarAlt: string
  cover: string
  coverAlt: string
}

const {
  link,
  title,
  description,
  author,
  publishedDate,
  readTime,
  avatar,
  avatarAlt,
  cover,
  coverAlt,
} = Astro.props
---

<a
  href={link}
  class='basis flex w-screen cursor-pointer flex-col p-8 duration-200 hover:text-orange-500 hover:transition-all sm:basis-1/2'
>
  <Image
    class='h-[200px] w-auto object-cover'
    src={cover}
    width={400}
    height={200}
    alt={coverAlt}
  />
  <p class='mt-2 text-xl font-bold'>
    {title}
  </p>
  <p class='border-b border-dashed border-zinc-700 pb-2 text-base text-zinc-500'>
    {description}
  </p>
  <Author
    authorClass='mt-3 flex items-center gap-2'
    author={author}
    avatar={avatar}
    avatarAlt={avatarAlt}
    publishedDate={publishedDate}
    readTime={readTime}
  />
</a>
