---
import { Image } from 'astro:assets'

interface Props {
  title: string
  description: string
  author: string
  publishedDate: Date
  readTime: {
    minutesRead: string
  }
  avatar: string
  avatarAlt: string
  cover: string
  coverAlt: string
}

const {
  title,
  description,
  author,
  publishedDate,
  readTime,
  avatar,
  avatarAlt,
  cover,
  coverAlt,
} = Astro.props
---

<div
  class='basis flex w-screen cursor-pointer flex-col p-8 duration-200 hover:text-orange-500 hover:transition-all sm:basis-1/2'
>
  <Image
    class='h-[200px] w-auto object-cover'
    src={cover}
    width={400}
    height={200}
    alt={coverAlt}
  />
  <p class='mt-2 text-xl font-bold'>
    {title}
  </p>
  <p
    class='border-b border-dashed border-zinc-700 pb-2 text-base text-zinc-500'
  >
    {description}
  </p>
  <div class='mt-3 flex items-center gap-2'>
    <Image
      class='h-10 w-10 rounded-full border-2 border-yellow-400'
      src={avatar}
      width={30}
      height={30}
      alt={avatarAlt}
    />
    <div class='flex flex-col gap-1'>
      <p class='text-sm'>
        {author}
      </p>
      <div class='flex items-center gap-2'>
        <p class='text-sm'>
          {
            new Date(publishedDate).toLocaleDateString('en', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }
        </p>
        <div class='h-0.5 w-0.5 rounded-full bg-zinc-600'></div>
        <p class='text-sm'>
          {readTime}
        </p>
      </div>
    </div>
  </div>
</div>
